# IDEs e editores
.idea
.vscode/
*.swp
*.swo
*~

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição/empacotamento
dist/
build/
*.egg-info/
*.egg

# Ambientes virtuais
venv/
env/
ENV/

# Arquivos de teste
.coverage
htmlcov/
.pytest_cache/

# Arquivos locais
.DS_Store
database.json